{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Major Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'my_app/styles.css' %}">
</head>
<body>
    <header>
        <table>
            <tr>
                <td>
                    <div class="logo">
                        <img src="{% static 'my_app/logo.png' %}" alt="my_app Logo">
                    </div>
                </td>
                <td style="width:1000px">
                    <div class="user-info">
                        {% if request.user.is_authenticated %}
                            <span>{{ request.user.username }}</span>
                            <form action="{% url 'users:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        
                        {% else %}
                            <a href="{% url 'users:register' %}">Register</a>
                        {% endif %}
                    </div>
                </td>

            </tr>
        </table>
    </header>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Oakhill College Year 12 Major Project</p>
    </footer>
</body>
</html>